<h2>ユーザー詳細</h2>
<div class ="">
  <h2 class="">
    <%= "#{@user.name}の情報"%>
  </h2>

  <div class="">
    <%= "チーム画像：" %>
    <%= image_tag @user.image, class: '' if @user.image.attached? %>
  </div>

  <div class="">
    <%= "メールアドレス：" %>
    <%= @user.email %>
  </div>

  <div class="">
    <%= "カテゴリー：" %>
    <% case @user.category_id %>
      <% when 1 then %>
        <div class = "">社会人</div>
      <% when 2 then %>
        <div class = "">U-18</div>
      <% when 3 then %>
        <div class = "">U-15</div>
      <% when 4 then %>
        <div class = "">U-12</div>
    <% end %>
  </div>

  <div class="">
    <%= "所属リーグ：" %>
    <%= @user.belongs %>
  </div>

  <div class="">
    <%= "ホームタウン：" %>
    <%= @user.hometown %>
  </div>

  <div class="">
    <%= "HP：" %>
    <%= @user.homepage %>
  </div>


 
  <%#= link_to "編集する", edit_user_path(current_user), class: "" %>

  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <p class=""><a href="/rooms/<%= @roomId %>" class="">DMへ</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "DMする", class:""%>
      <% end %>
    <% end %>
  <% end %>

</div>
