<div class="">
  <div class="">
    <div class="">
      <h2 class="">ユーザーログイン</h2>
        <div class=''>
          <%= flash[:notice] %>
          <%= flash[:alert] %>
        </div>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="">
          <%= f.label :email, "" %><br />
          <%= f.email_field :email, id:"", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, id:"", autocomplete: "current-password" %>
        </div>

        <div class="">
          <%= f.submit "ログイン", class: :form__btn %>
        </div>
      <% end %>
    </div>
  </div>
</div>
