<div class ="post_index_main">
  <%= render "shared/header" %>
  <div class ="post_index_all">
    <% @posts.each do |post| %>
      <div class ="post_index_content">
        <div class ="post_index_content_upper">
          <div class = "">
            <span class ="post_index_days"><%= link_to post.days, post_path(post.id) %></span>
          </div>

          <div class ='post_index_dayofweek'>
            <% case post.dayofweek_id %>
              <% when 1 then %>
                <div class = "week">月曜日</div>
              <% when 2 then %>
                <div class = "week">火曜日</div>
              <% when 3 then %>
                <div class = "week">水曜日</div>
              <% when 4 then %>
                <div class = "week">木曜日</div>
              <% when 5 then %>
                <div class = "week">金曜日</div>
              <% when 6 then %>
                <div class = "week">土曜日</div>
              <% when 7 then %>
                <div class = "week">日曜日</div>
            <% end %>
          </div>

          <div class='post_index_time'>
            <% if post.starttime.present? %>
              <% if post.endtime.present?%>
                <%= "時間：#{post.starttime}" %>〜<%= post.endtime %>
              <% else %>
                <%= "時間：#{post.starttime}" %>〜<%= "終了時間未定"%>
              <% end %>
            <% else %>
              <%= "時間未定" %>
            <% end %>
          </div>

          <div class='post_index_name'>
            <%= link_to post.user.name, user_path(post.user.id), method: :get %>
          </div>

          <div class='post_index_place'>
            <%= post.place %>
          </div>
          
          <div class ="like">
            <% if current_user.favorited_by?(post.id) %>
              <span class ="good"><%= link_to '👍', destroy_favorite_path(post), method: :DELETE %></span> <%= post.favorites.count %>
            <% else %>
              <span class ="good"><%= link_to '👍', create_favorite_path(post), method: :POST %></span> <%= post.favorites.count %>
            <% end %>
          </div>
        </div>

        <div class='post_index_supplement'>
          <%= post.supplement %>
        </div>

      </div>
    <% end %>
  </div>
</div>
