
<div class ="post_show_main">
  <%= render "shared/header" %>
  <div class ="post_show_content">
    <div class ="post_show_content_upper">
      <div class = "">
        <%= @post.days %>
      </div>

      <div class =''>
        <% case @post.dayofweek_id %>
          <% when 1 then %>
            <div class = "week">月曜日</div>
          <% when 2 then %>
            <div class = "week">火曜日</div>
          <% when 3 then %>
            <div class = "week">水曜日</div>
          <% when 4 then %>
            <div class = "week">木曜日</div>
          <% when 5 then %>
            <div class = "week">金曜日</div>
          <% when 6 then %>
            <div class = "week">土曜日</div>
          <% when 7 then %>
            <div class = "week">日曜日</div>
        <% end %>
      </div>

      <div class=''>
        <% if @post.starttime.present? %>
          <% if @post.endtime.present?%>
            <%= "時間：#{@post.starttime}" %>〜<%= @post.endtime %>
          <% else %>
            <%= "時間：#{@post.starttime}" %>〜<%= "　　"%>
          <% end %>
        <% else %>
          <%= "　　　　　　　　　　" %>
        <% end %>
      </div>

      <div class=''>
        <%= link_to @post.user.name, user_path(@post.user.id), method: :get %>
      </div>

      <div class=''>
        <%= @post.place %>
      </div>
      
      <div class ="post_show_like">
        <% if current_user.favorited_by?(@post.id) %>
          <span class ="good"><%= link_to '👍', destroy_favorite_path(@post), method: :DELETE %></span> <%= @post.favorites.count %>
        <% else %>
          <span class ="good"><%= link_to '👍', create_favorite_path(@post), method: :POST %></span> <%= @post.favorites.count %>
        <% end %>
      </div>
    </div>

    <div class='post_show_content_under'>
      <%= @post.supplement %>
    </div>

    

    <div class ="post_show_edit_destroy">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <div class ="post_show_edit">
          <%= link_to "編集する", edit_post_path(@post.id) %>
        </div>
        <div class ="post_show_destroy">
          <%= link_to "削除する", post_path(@post.id), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>

</div>
